@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SET-UP */

html {
    --green: #99d98c;
    --red: #ED6A5A;
    --blue: #80CED7;
    --grey: #d8e2dc;
    --yellow: #FFD151;
    font-size: 16px;
    font-family: 'Varela', sans-serif;  
}

/* NAV */

nav{
    width: 95%;
    height: 4em;
    margin:1em auto;
    background: var(--green);
}
nav ul {
    list-style-type: none;
    display: flex;
    width: 60%;
    height: 4em;
    justify-content: space-around;
    margin: auto;
    align-items: center;
  }

nav li {
    display: inline;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: #252525;
    display: block;
    position: relative;
}


nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #252525;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  nav a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  
  nav:first-child {
      margin-right: auto;
      margin-left: 2rem;
  }
  
  nav a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  nav a:hover::after,
  a:focus::after{
    transform: scale(1);
  }

/* ================= */
.flex-warper {
    display: flex;
    flex-flow: wrap;
}

/* =============== */

/* RED */
.red-container {
    width: 95%;
    height: 25em;
    margin: auto;
    background: var(--red);
}

/* GREY */
#grey-element {
    width: 95%;
    height: 4em;
    margin: 1em auto;
    background: var(--grey);
}

/* YELLOW */
#yellow-content{
    
    width: 45%;
    height: 5em;
    margin: 0.5em auto;
    background: var(--yellow);
}

/* BLUE */

.blue-warper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}


.blue-content {
    background: var(--blue);
    width: 95%;
    height: 5em;
    margin: 0.5em auto;
}
#blue-truc{
    width: 45%;
}

#blue-smFull {
    height: 3em;
}


/* =============== */
@media (min-width:900px) {
    #blue-truc {
        width: 95%; 
    }

    .red-container {
        width: 65%;
        margin: 2.5%;
    }

    #grey-element {
        width: 35%;
        height: 10em;
        margin: 0.5em 2em;
    }

    #yellow-content {
        width: 27.5%;
        height: 10em;
        margin: 0.5em;
    }
    .blue-warper {
        position: absolute;
        top: 7em;
        right: 2em;
        width: 30%;
    }

    .blue-warper div{
        height: 12.5em;
    }
    #blue-smFull {
        height: 10.5em;
    }
}

@media (max-width:890px) {
    .blue-warper {
        width: 100%;
    }
    #blue-truc {
        position: absolute;
        width: 45%;
        right: 1em;
        top: 37em;
    }
    
    #yellow-content {
        width: 45%;
        margin: 0.5em;
    }
}
